<div class="card">
  <div class="card-block">
    <div class="row">
      <div class="col-md-1">
        <%= gravatar_for message.user %>
      </div>
      <div class="col-md-11">
        <p class="card-text">
          <span class="text-muted"><%= t("message.text", name: message.user.name, time: l(message.created_at)) %></span><br>
          <%= message.body %>
        </p>
      </div>
    </div>
  </div>
</div>
