<p><%= t("devise.welcome", email: @email) %></p>

<p><%= t("devise.confirmation_instruction") %></p>

<p><%= link_to t("devise.confirm_account"), confirmation_url(@resource, confirmation_token: @token) %></p>
