<p><%= t("devise.hello", email: @resource.email) %>!</p>

<p><%= t("devise.locked_account_warning") %></p>

<p><%= t("devise.unlock_link") %>:</p>

<p><%= link_to t("devise.unlock_account"), unlock_url(@resource, unlock_token: @token) %></p>
